* {
   box-sizing: border-box;
}

:root {
   --primary-color: #ffb900;
}

html,
body {
   scroll-behavior: smooth;
}
/* Quy đổi 1rem = 10px cho dễ --- xem lại rem để biết thêm */
html {
   font-size: 62.5%; /* 1rem = 10px */
}

body {
   font-family: "Poppins", sans-serif;
   font-size: 1.6rem; /* 16px */
   margin: 0;
   padding: 0;
}

/* Common */
.content {
   width: 1170px;
   margin: 0 auto;
   max-width: calc(100% - 48px);
}

.btn {
   display: inline-flex;
   align-items: center; /* vertical center */
   justify-content: center; /* horizontal center */
   min-width: 118px;
   height: 50px;
   border-radius: 24.5px;
   background: var(--primary-color);
   color: #fff;
   padding: 11px 41px;
   font-size: 16px;
   font-weight: 500;
}

.btn:hover {
   opacity: 0.9;
}

a {
   text-decoration: none;
}

h1 h2 {
   font-family: "sen";
   font-weight: 700;
}

/* ---------Header Section------------ */

.header {
   background: #fffcf4;
}

.header.fixed {
   position: sticky;
   /* Khi scroll còn dư 8px thì neo lại, vì padding top là 36px */
   top: -28px;
}
.header .content .body {
   display: flex;
   align-items: center;
   padding: 36px 0 8px;
   /* padding-top: 36px; */
}

.header .content .nav {
   margin-left: auto;
}

.nav ul {
   display: flex;
   /* gap: 42px; */
}
.nav a {
   position: relative;
   padding: 8px 21px;
   color: #5f5b53;
   /* text-align: center; */
   font-weight: 400;
   /* line-height: 1.75; 175% */
}

.nav li.active a::after {
   display: block;
   position: absolute;
   content: "";
   border-radius: 1px;
   background: #171100;
   width: 12px;
   height: 2px;
   left: 21px;
   bottom: 6px;
}
.nav li.active a,
.nav a:hover {
   /* font-weight: 600; */
   /* Thủ thuật thay vì dùng font-weight tạo hiệu ứng bị giật cho users > xài text-shadow để tạo BOLD */
   text-shadow: 1px 0 0 currentColor;
   color: #171100;
}

.header .content .action {
   margin-left: 49px;
}

.header .signup-btn {
   background: #171100;
   width: 144px;
}

/* ---------------Hero Section----------- */
.hero {
   padding-top: 56px;
   padding-bottom: 113px;
   /* background: orange; */
   background: #fffcf4;
}
.hero .body {
   display: flex;
}

.hero .media-block {
   position: relative;
}
.hero .hero-img {
   max-width: 100%;
   width: 470px;
   height: 685px;
   object-fit: cover;
   object-position: 16%;
   border-radius: 20px;
   background: lightgray -448.75px 0px / 218.672% 100% no-repeat;
}

.hero .hero-summary {
   position: absolute;
   right: 0;
   bottom: 50px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 270px;
   height: 244px;
   border-radius: 12px;
   background: #fff;
   box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
   padding: 2.4rem;
}
.hero-summary .label {
   font-size: 1.4rem;
   line-height: 1.86;
   color: #5f5b53;
}

.hero-summary .title {
   font-weight: 600;
   font-size: 1.8rem;
   line-height: 1.67;
   color: #171100;
}
.hero .hero-summary .item {
   display: flex;
   align-items: center;
}

.hero .hero-summary .item .icon {
   /* display: flex; */
   display: flex;
   align-items: center; /* vertical center */
   justify-content: center; /* horizontal center */
   width: 48px;
   height: 48px;
   background-color: #fff9e8;
   border-radius: 999px;
   margin-right: 16px;
}

.hero .content-block,
.hero .media-block {
   flex: 1;
   flex-basis: 50%;
}

.hero .content-block {
   margin: auto 0 auto 0;
   padding-left: 115px;
   /* padding-right: 135px; */
}

.hero .content-block .title {
   /* width: 470px; */
   color: #171100;
   font-family: Sen;
   font-size: 55px;
   font-weight: 700;
   line-height: 60px;
}

.hero .content-block .desc {
   margin-top: 22px;
   /* width: 470px; */
   color: #5f5b53;
   font-family: Poppins;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px; /* 166.667% */
}

.hero .video-wrap {
   display: flex;
   align-items: center;
   gap: 28px;
   margin: 38px 0 48px 0;
}

.hero .video-wrap .btn {
   border-radius: 32px;
   background: #ffb900;
   width: 180px;
   height: 64px;
   color: #fff;
   text-align: center;
   font-family: Poppins;
   font-size: 18px;
   font-weight: 600;
   padding: 17px 33px;
}
.hero .video {
   display: flex;
   align-items: center;
   gap: 14px;
}

.hero .video .play-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: #ffffff;
}

.hero .video strong {
   color: #171100;
   font-family: Poppins;
   font-size: 18px;
   font-weight: 600;
   line-height: 30px; /* 166.667% */
}

.hero .content-block > strong {
   color: #5f5b53;
   font-family: Poppins;
   font-size: 18px;
   font-weight: 400;
}

.hero .content-block .stats-wrap {
   display: flex;
   margin-top: 8px;
   gap: 27px;
}

.hero .content-block .stats-wrap strong {
   color: #171100;
   font-family: Sen;
   font-size: 44px;
   font-weight: 700;
}

.hero .content-block .stats-wrap span {
   color: #5f5b53;
   font-family: Poppins;
   font-size: 18px;
   font-weight: 400;
}

/* --------------Courses Section------------------- */

.courses .content {
   padding: 200px 0;
   background-color: #fff;
}

.courses .courses-content-wrap {
   display: flex;
   align-items: center;
}

.courses .icon-wrap {
   display: flex;
   gap: 18px;
   margin-left: auto;
}
.courses .icon-wrap a:first-child {
   display: flex; /* activate flexbox */
   align-items: center; /* vertical center */
   justify-content: center; /* horizontal center */
   width: 40px;
   height: 40px;
   border-radius: 40px;
   border: 1px solid #ffb900;
}

.courses .icon-wrap a:last-child {
   display: flex; /* activate flexbox */
   align-items: center; /* vertical center */
   justify-content: center; /* horizontal center */
   width: 40px;
   height: 40px;
   border-radius: 40px;
   background: #ffb900;
}

.courses .icon-wrap a:hover {
   opacity: 0.7;
}

.courses .title-wrap > .title {
   color: #171100;
   font-family: Sen;
   font-size: 38px;
   font-weight: 700;
   letter-spacing: -0.76px;
   margin-bottom: 16px;
}

.courses .title-wrap > .desc {
   max-width: 458px;
   color: #5f5b53;
   font-family: Poppins;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px; /* 166.667% */
}

.courses .content .courses-list {
   display: flex;
   gap: 30px;
   margin-top: 55px;
}

.courses .content .courses-list .course-info {
   flex: 1 1 calc(33.333% - 24px);
   border-radius: 12px;
   border: 1px solid #e2dfda;
   background: #fff;
   overflow: hidden;
}

.courses .content .courses-list .course-info .img {
   width: 100%;
   height: auto;
   display: block; /* removes bottom whitespace caused by inline images */
   object-fit: cover; /* optional: for nicer cropping if the ratio is odd */
   aspect-ratio: 4 / 3; /* or 16 / 9, etc. */
}

.courses .content .courses-list .course-info .row-1 {
   display: flex;
   align-items: center;
}

.courses .content .courses-list .course-info .row-1 img {
   margin-left: auto;
}

.courses .content .courses-list .course-info .row-1 .title {
   color: #171100;
   font-family: Poppins;
   font-size: 18px;
   font-weight: 600;
}

.courses .content .courses-list .course-info .desc {
   color: #5f5b53;
   font-family: Poppins;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.85; /* 185.714% */
}

.courses .content .courses-list .course-info .price {
   color: #171100;
   font-family: Poppins;
   font-size: 18px;
   font-weight: 600;
}
.courses .content .courses-list .course-info .btn {
   margin-left: auto;
   background: #171100;
}

.courses .content .courses-list .course-info .course-desc-wrap {
   padding: 16px 22px 22px;
}

.courses .content .courses-list .course-info .course-desc-wrap .row-3 {
   display: flex;
   margin-top: 12px;
   justify-content: space-between;
   align-items: center;
}

.courses .content .courses-list .course-info .btn:hover {
   background: #ffb900;
}
