* {
   box-sizing: border-box;
}

:root {
   --primary-color: #ffb900;
   --font-heading: Sen;
   --font-desc: Poppins;
}

html,
body {
   scroll-behavior: smooth;
}
/* Quy đổi 1rem = 10px cho dễ --- xem lại rem để biết thêm */
html {
   font-size: 62.5%; /* 1rem = 10px */
}

body {
   font-family: "Poppins", sans-serif;
   font-size: 1.6rem; /* 16px */
   margin: 0;
   padding: 0;
}

/* Common */

.line-clamp {
   display: -webkit-box;
   -webkit-line-clamp: var(--line-clamp, 1);
   -webkit-box-orient: vertical;
   overflow: hidden;
}

.line-clamp.line-2 {
   --line-clamp: 2;
}

.line-clamp.line-3 {
   --line-clamp: 3;
}
.content {
   width: 1170px;
   margin: 0 auto;
   max-width: calc(100% - 48px);
}

.break-all {
   word-break: break-all;
}

.btn {
   display: inline-flex;
   align-items: center; /* vertical center */
   justify-content: center; /* horizontal center */
   min-width: 118px;
   height: 50px;
   border-radius: 24.5px;
   background: var(--primary-color);
   color: #fff;
   padding: 11px 41px;
   font-size: 16px;
   font-weight: 500;
}

.btn:hover {
   opacity: 0.9;
   cursor: pointer;
}

a {
   text-decoration: none;
}

h1 h2 {
   font-family: "sen";
   font-weight: 700;
}

.title {
   color: #171100;
   font-family: var(--font-heading);
   font-weight: 700;
   letter-spacing: -0.116rem;
}

.title.lvl1 {
   font-size: 5.8rem;
   line-height: 1.17;
}

.title.lvl2 {
   font-size: 3.8rem;
   line-height: 1.26;
}
.title.lvl3 {
   font-size: 18px;
   font-weight: 600;
   line-height: 1.66;
}

.desc {
   color: #5f5b53;
   font-family: var(--font-desc);
   font-size: 1.8rem;
   font-weight: 400;
   line-height: 1.66;
}
/* ---------Header Section------------ */

.header {
   background: #fffcf4;
}

.header.fixed {
   position: sticky;
   /* Khi scroll còn dư 8px thì neo lại, vì padding top là 36px */
   top: -28px;
}
.header .content .body {
   display: flex;
   align-items: center;
   padding: 36px 0 8px;
   /* padding-top: 36px; */
}

.header .content .nav {
   margin-left: auto;
}

.nav ul {
   display: flex;
   /* gap: 42px; */
}
.nav a {
   position: relative;
   padding: 8px 21px;
   color: #5f5b53;
   /* text-align: center; */
   font-weight: 400;
   /* line-height: 1.75; 175% */
}

.nav li.active a::after {
   display: block;
   position: absolute;
   content: "";
   border-radius: 1px;
   background: #171100;
   width: 12px;
   height: 2px;
   left: 21px;
   bottom: 6px;
}
.nav li.active a,
.nav a:hover {
   /* font-weight: 600; */
   /* Thủ thuật thay vì dùng font-weight tạo hiệu ứng bị giật cho users > xài text-shadow để tạo BOLD */
   text-shadow: 1px 0 0 currentColor;
   color: #171100;
}

.header .content .action {
   margin-left: 49px;
}

.header .signup-btn {
   background: #171100;
   width: 144px;
}

/* ---------------Hero Section----------- */
.hero {
   padding-top: 56px;
   padding-bottom: 113px;
   /* background: orange; */
   background: #fffcf4;
}
.hero .body {
   display: flex;
}

.hero .media-block {
   position: relative;
}
.hero .hero-img {
   max-width: 100%;
   width: 470px;
   height: 685px;
   object-fit: cover;
   object-position: 16%;
   border-radius: 20px;
   background: lightgray -448.75px 0px / 218.672% 100% no-repeat;
}

.hero .hero-summary {
   position: absolute;
   right: 0;
   bottom: 50px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 270px;
   height: 244px;
   border-radius: 12px;
   background: #fff;
   box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
   padding: 2.4rem;
}
.hero-summary .label {
   font-size: 1.4rem;
   line-height: 1.86;
   color: #5f5b53;
}

.hero .hero-summary .item {
   display: flex;
   align-items: center;
}

.hero .hero-summary .item .icon {
   /* display: flex; */
   display: flex;
   align-items: center; /* vertical center */
   justify-content: center; /* horizontal center */
   width: 48px;
   height: 48px;
   background-color: #fff9e8;
   border-radius: 999px;
   margin-right: 16px;
}

.hero .content-block,
.hero .media-block {
   flex: 1;
   flex-basis: 50%;
}

.hero .content-block {
   margin: auto 0 auto 0;
   padding-left: 115px;
   /* padding-right: 135px; */
}

.hero .content-block .desc {
   margin-top: 22px;
}

.hero .video-wrap {
   display: flex;
   align-items: center;
   gap: 28px;
   margin: 38px 0 48px 0;
}

.hero .video-wrap .btn {
   border-radius: 32px;
   background: #ffb900;
   width: 180px;
   height: 64px;
   color: #fff;
   text-align: center;
   font-family: Poppins;
   font-size: 18px;
   font-weight: 600;
   padding: 17px 33px;
}
.hero .video {
   display: flex;
   align-items: center;
   gap: 14px;
}

.hero .video .play-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: #ffffff;
}

.hero .video strong {
   color: #171100;
   font-family: Poppins;
   font-size: 18px;
   font-weight: 600;
   line-height: 30px; /* 166.667% */
}

.hero .content-block > strong {
   color: #5f5b53;
   font-family: Poppins;
   font-size: 18px;
   font-weight: 400;
}

.hero .content-block .stats-wrap {
   display: flex;
   margin-top: 8px;
   gap: 27px;
}

.hero .content-block .stats-wrap strong {
   color: #171100;
   font-family: Sen;
   font-size: 44px;
   font-weight: 700;
}

.hero .content-block .stats-wrap span {
   color: #5f5b53;
   font-family: Poppins;
   font-size: 18px;
   font-weight: 400;
}

/* --------------Courses Section------------------- */

.courses .content {
   padding: 200px 0;
   background-color: #fff;
}

.courses .courses-top {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.courses-top .title-wrap .desc {
   width: 458px;
}

.courses .controls {
   display: flex;
   gap: 18px;
}

.courses-top .control-btn {
   border-radius: 4rem;
   border: 1px solid var(--primary-color);
   background: transparent;
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--primary-color);
}

.courses-top .control-btn:hover {
   background-color: var(--primary-color);
   color: #fff;
   cursor: pointer;
}

.courses .courses-list {
   display: flex;
   gap: 30px;
   margin-top: 55px;
}

.courses-list .course-item {
   flex: 1 1 calc(33.333% - 24px);
   border-radius: 12px;
   border: 1px solid #e2dfda;
   background: #fff;
   overflow: hidden;
}

.courses-list .course-item:hover {
   border-color: transparent;
   box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.2);
}

.course-item .thumb {
   width: calc(100% + 2px);
   height: 27.8rem;
   display: block; /* removes bottom whitespace caused by inline images */
   object-fit: cover; /* optional: for nicer cropping if the ratio is odd */
   margin: -1px;
}

.courses-list .course-item .row-1,
.courses-list .course-item .rating,
.courses .course-item .row-3 {
   display: flex;
   align-items: center;
   justify-content: space-between;
   vertical-align: bottom;
}

.courses-list .rating .value {
   color: #fea31b;
   font-size: 16px;
   font-weight: 400;
   margin-left: 6px;
   line-height: 1.75;
}
.courses-list .course-item .desc {
   margin-top: 0.6rem;
   font-size: 14px;
   line-height: 1.85; /* 185.714% */
}

.course-info .title a {
   color: #171100;
   font-size: 18px;
   font-weight: 600;
   line-height: 1.66;
   padding-right: 4px;
}
.course-item .price {
   color: #171100;
   font-family: Poppins;
   font-size: 18px;
   font-weight: 600;
}
.course-item .btn {
   /* margin-left: auto; */
   background: #171100;
   padding: 12px 24px;
}

.course-item .course-info {
   padding: 16px 22px 22px;
}

.courses .course-item .row-3 {
   margin-top: 12px;
}

.courses .content .courses-list .course-item .btn:hover {
   background: var(--primary-color);
}

/* ---------Feedback Section--------- */

.feedback {
   padding: 96px 0;
   background: #2e2100;
}
.feedback-list {
   display: flex;
   overflow: hidden;
}

.feedback-item {
   display: flex;
   flex-shrink: 0;
   width: 100%;
}

.feedback-item .avatar {
   width: 72px;
   height: 72px;
   border-radius: 50%;
   object-fit: cover;
}

.feedback-item .info .title {
   margin-top: 18px;
   color: #f7f7f7;
   font-family: Sen;
   font-size: 24px;
   font-weight: 700;
   line-height: 1.42;
}

.feedback-item .info .desc {
   margin-top: 4px;
   color: #bfbcb2;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 1.85;
}
.feedback-item .dots {
   display: flex;
   margin-top: 28px;
   gap: 12px;
}

.feedback-item .dot {
   width: 6px;
   height: 6px;
   border-radius: 50%;
   background-color: #634700;
   cursor: pointer;
}

.feedback-item .dot.active {
   background-color: var(--primary-color);
   cursor: default;
}

.feedback-item .feedback-content {
   max-width: 66%;
   margin-left: auto;
}

.feedback-item .feedback-content blockquote {
   padding-left: 30px;
   color: #fff;
   font-size: 26px;
   font-style: italic;
   font-weight: 400;
   line-height: 1.54;
}

/* ---------------Feature-------------- */

.feature {
   padding: 200px 0;
}

.feature .feature-top {
   display: flex;
   justify-content: space-between;
   /* align-items: center; */
}

.feature .feature-top .image {
   display: flex;
   width: 50%;
   gap: 0 30px;
}

.feature .feature-top .image img {
   display: block;
   height: 40.5rem;
   display: block;
   object-fit: cover;
   width: 270px;
}

.feature .feature-top .image img:first-child {
   margin-top: 34px;
}

.feature .feature-content,
.feature .feature-content {
   width: 40%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.feature-content .desc {
   margin-top: 16px;
   color: #5f5b53;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.75; /* 175% */
}

.feature-content .btn {
   width: 137px;
   padding: 0;
   margin-top: 32px;
}

.feature .feature-bottom {
   display: flex;
   margin-top: 200px;
   justify-content: space-between;
}

.feature .feature-bottom .feature-content {
   width: 49%;
}

.feature-bottom .image img {
   width: 470px;
   height: 440px;
   object-fit: cover;
}

/* Blog */

.blog {
   padding: 96px 135px 96px 140px;
   background: #fffcf4;
}

.blog .blog-top {
   text-align: center;
}
.blog-top .desc {
   margin: 16px auto 0;
   /* display: block; */
   color: #696262;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.75;
   width: 448px;
   /* text-align: center; */
}

.blog .blog-list {
   margin-top: 55px;
   display: flex;
   gap: 30px;
   overflow: hidden;
}

.blog-list .blog-item {
   width: 33.33%;
   width: calc((100% - 60px) / 3);
   flex-shrink: 0;
   border-radius: 16px;
   background: #fff;
   overflow: hidden;
}

.blog-list .blog-item:hover {
   box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.blog-list .thumb {
   width: 100%;
   height: 250px;
   object-fit: cover;
}

.blog-list .blog-item span::before {
   content: "";
   display: inline-block;
   margin-right: 4px;
   width: 6px;
   height: 6px;
   border-radius: 50%;
   background-color: var(--primary-color);
}
.blog-list .blog-item span {
   display: inline-flex;
   align-items: center;
   /* display: inline-block; */
   color: #5f5b53;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.85;
   position: relative;
   padding-bottom: 12px;
}

.blog-list .blog-item span::after {
   content: "";
   display: inline-block;
   left: 0;
   bottom: 0;
   position: absolute;
   right: -27px;
   height: 1px;
   border-radius: 0.5px;
   background: #e2dfda;
}

.blog-list .blog-item .blog-info {
   padding: 20px 20px 28px;
}

.blog-info .title a {
   margin-top: 12px;
   display: inline-block;
   color: #171100;
   font-size: 1.6rem;
   font-weight: 600;
   line-height: 1.75;
}

.blog-list .blog-item .btn {
   margin-top: 12px;
   background: #171100;
   width: 118px;
   height: 50px;
   padding: 21px 12px;
   font-size: 1.4rem;
}

.blog-list .blog-item .btn:hover {
   background-color: var(--primary-color);
}

.blog .dots {
   margin-top: 38px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 6px;
}

.blog .dot {
   width: 6px;
   height: 6px;
   border-radius: 50%;
   background: #5f5b53;
   cursor: pointer;
}

.blog .dot.active {
   background-color: var(--primary-color);
   cursor: default;
}

/* footer */

.footer {
   padding: 96px 135px 28px;
   background-color: #2e2100;
}

.footer .row {
   display: flex;
   justify-content: space-between;
   padding-bottom: 38px;
}

.footer .row .column:first-child {
   width: 23%;
}

.row .column:first-child .desc {
   padding: 18px 0;
   color: #bfbcb2;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.85;
}

.footer .row .socials {
   display: flex;
   align-items: center;
   gap: 36px;
}

.footer .row .column:last-child {
   width: 20%;
}

.row .column .title.lvl3 {
   display: inline-block;
   position: relative;
   color: #fff;
   font-size: 16px;
   font-weight: 600;
   line-height: 1.75;
   padding-bottom: 14px;
}

.row .column .title.lvl3:after {
   /* display: inline-block; */
   left: 0;
   bottom: 0;
   content: "";
   position: absolute;
   width: 130px;
   height: 1px;
   background: #59554b;
   /* margin-bottom: -14px; */
}

.row .column .list {
   padding-top: 28px;
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.row .column .list a {
   color: #bfbcb2;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.85;
}

.footer .line {
   content: "";
   display: inline-block;
   width: 1170px;
   height: 1px;
   background: #59554b;
}

.footer .copyright {
   margin-top: 28px;
   color: #807d74;
   text-align: center;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.85;
}
