* {
   box-sizing: border-box;
}

:root {
   --primary-color: #ffb900;
}

html,
body {
   scroll-behavior: smooth;
}
/* Quy đổi 1rem = 10px cho dễ --- xem lại rem để biết thêm */
html {
   font-size: 62.5%; /* 1rem = 10px */
}

body {
   font-family: "Poppins", sans-serif;
   font-size: 1.6rem; /* 16px */
   margin: 0;
   padding: 0;
}

/* Common */
.main-content {
   width: 1170px;
   margin: 0 auto;
   max-width: calc(100% - 48px);
}

.btn {
   display: inline-flex;
   align-items: center; /* vertical center */
   justify-content: center; /* horizontal center */
   min-width: 118px;
   height: 50px;
   border-radius: 24.5px;
   background: var(--primary-color);
   color: #fff;
   padding: 11px 41px;
   font-size: 16px;
   font-weight: 500;
}

.btn:hover {
   opacity: 0.9;
}

a {
   text-decoration: none;
}

h1 h2 {
   font-family: "sen";
   font-weight: 700;
}

/* ---------Header Section------------ */

.header {
   background: #fffcf4;
}

.header.fixed {
   position: sticky;
   /* Khi scroll còn dư 8px thì neo lại, vì padding top là 36px */
   top: -28px;
}
.header .main-content .body {
   display: flex;
   align-items: center;
   padding: 36px 0 8px;
   /* padding-top: 36px; */
}

.header .main-content .nav {
   margin-left: auto;
}

.nav ul {
   display: flex;
   /* gap: 42px; */
}
.nav a {
   position: relative;
   padding: 8px 21px;
   color: #5f5b53;
   /* text-align: center; */
   font-weight: 400;
   /* line-height: 1.75; 175% */
}

.nav li.active a::after {
   display: block;
   position: absolute;
   content: "";
   border-radius: 1px;
   background: #171100;
   width: 12px;
   height: 2px;
   left: 21px;
   bottom: 6px;
}
.nav li.active a,
.nav a:hover {
   /* font-weight: 600; */
   /* Thủ thuật thay vì dùng font-weight tạo hiệu ứng bị giật cho users > xài text-shadow để tạo BOLD */
   text-shadow: 1px 0 0 currentColor;
   color: #171100;
}

.header .main-content .action {
   margin-left: 49px;
}

.header .signup-btn {
   background: #171100;
   width: 144px;
}
